@model ConsentViewModel
@using IdentityServer4.Extensions
@{ string nameUser = null;
    if (!true.Equals(ViewData["signed-out"]))
    {
        nameUser = Context.User?.GetDisplayName();
    } }
<div class="formPermisos">
    <div class="informacion">
        <div class="thumbnail"><img src="../logo-pika.png" /></div>
        <h1>Permisos solicitados</h1>
        @if (!string.IsNullOrWhiteSpace(nameUser))
        {
            <div class="nombreConsent"> <b>  @nameUser</b></div>
        }
        @if (Model.ClientLogoUrl != null)
        {
            <div><img src="@Model.ClientLogoUrl"></div>
        }
        <h2>
            @Model.ClientName
        </h2>

        <partial name="_ValidationSummary" />

        <form asp-action="Index">
            <input type="hidden" asp-for="ReturnUrl" />

            <div class="Permisosdenegados">Desmarque los permisos que no desea otorgar en la aplicación.</div>
            <br />
            @if (Model.IdentityScopes.Any())
            {
                <div class="Items">Detalle de la información personal</div>
                <div class="listaConsent">
                    <ul>
                        @foreach (var scope in Model.IdentityScopes)
                        {
                            <partial name="_ScopeListItem" model="@scope" />
                        }
                    </ul>
                </div>
            }

            @if (Model.ResourceScopes.Any())
            {
                <div class="Items">  Acceso a las aplicaciones</div>
                <div class="listaConsent">

                    <ul>
                        @foreach (var scope in Model.ResourceScopes)
                        {
                            <partial name="_ScopeListItem" model="scope" />
                        }
                    </ul>
                </div>
            }

            @if (Model.AllowRememberConsent)
            {
                <label class="recuerdamidesicion">
                    <input asp-for="RememberConsent" />
                    <b>Recordar la decisión</b>
                </label>
            }

            <button name="button" value="yes" autofocus>Acceso total a la aplicación</button>
            <br />
            <br />
            <button name="button" value="no">No permitir el acceso a la aplicación</button>
            @if (Model.ClientUrl != null)
            {
                <a target="_blank" href="@Model.ClientUrl">
                    <span></span>
                    <strong>@Model.ClientName</strong>
                </a>
            }

        </form>
    </div>
</div>