@model ConsentViewModel
@using IdentityServer4.Extensions
@{ string nameUser = null;
    if (!true.Equals(ViewData["signed-out"]))
    {
        nameUser = Context.User?.GetDisplayName();
    } }
<div class="formulario">
    <h2>Permisos solicitados</h2>
    <div class="info">
        <div class="thumbnail"><img src="~/PIKA_PARROT.svg" /></div>
        @if (!string.IsNullOrWhiteSpace(nameUser))
        {
            <div class="nombre"> <b>  @nameUser</b></div>
        }
        @if (Model.ClientLogoUrl != null)
        {
            <div><img src="@Model.ClientLogoUrl"></div>
        }
        <h2>
            @Model.ClientName
        </h2>
    </div>
    <div class="info">
        <div>
            <partial name="_ValidationSummary" />

            <form asp-action="Index" class="consent-form">
                <input type="hidden" asp-for="ReturnUrl" />

                <div class="Permisosdenegados">Desmarque los permisos que no desea otorgar.</div>
                <br />
                @if (Model.IdentityScopes.Any())
                {
                    <div class="Contenido">
                        <div> Información personal</div>
                        <div class="lista">
                            <ul>
                                @foreach (var scope in Model.IdentityScopes)
                                {
                                    <partial name="_ScopeListItem" model="@scope" />
                                }
                            </ul>
                        </div>
                    </div>
                }

                @if (Model.ResourceScopes.Any())
                {
                    <div class="Contenido">
                        <div>  Acceso a las aplicaciones</div>
                        <div class="lista">

                            <ul>
                                @foreach (var scope in Model.ResourceScopes)
                                {
                                    <partial name="_ScopeListItem" model="scope" />
                                }
                            </ul>
                        </div>
                    </div>
                }

                @if (Model.AllowRememberConsent)
                {
                        <label class="recuerdamidesicion">
                            <input asp-for="RememberConsent" />
                            <b>Recuerda mi decisión</b>
                        </label>
                }

                <div>
                    <button name="button" value="yes" class="btn btn-primary" autofocus>Acceso total </button>
                    <br />
                    <br />
                    <button name="button" value="no" class="btn">No permitir</button>
                    @if (Model.ClientUrl != null)
                    {
                        <a target="_blank" href="@Model.ClientUrl">
                            <span></span>
                            <strong>@Model.ClientName</strong>
                        </a>
                    }
                </div>

            </form>
        </div>
    </div>
</div>