@model GrantsViewModel

@using IdentityServer4.Extensions
@{ string nameUser = null;
    if (!true.Equals(ViewData["signed-out"]))
    {
        nameUser = Context.User?.GetDisplayName();
    } }

<div class="container">

</div>
@if (Model.Grants.Any() == true)
{
    <div class="container">

        <div class="info">
            <h1>
                Acceso a la aplicación
            </h1>

            <small>A continuación se muestra la lista de aplicaciones a las que ha dado acceso y los nombres de los recursos a los que tienen acceso.</small>
        </div>
    </div>
}

<a asp-action="Logout" asp-controller="Account">Logout</a>

<div class="form">

    <div class="thumbnail"><img src="~/PIKA_PARROT.svg" /></div>
    @if (!string.IsNullOrWhiteSpace(nameUser))
    {
        <div class="nombre"> <b>  @nameUser</b></div>
    }
    @if (Model.Grants.Any() == false)
    {
        <div class="container">

            <div class="info">
                No tienes permiso para acceder a la aplicación
            </div>
        </div>
    }
    else
    {
        foreach (var grant in Model.Grants)
        {
            <div class="info">
                <div>
                    @if (grant.ClientLogoUrl != null)
                    {
                        <img src="@grant.ClientLogoUrl">
                    }
                </div>
                <div class="Contenido">
                    <div class="titulo">Nombre del Acceso: @grant.ClientName</div>
                    <div>
                        <span>Fecha de Creación : @grant.Created.ToString("yyyy-MM-dd")</span>
                    </div>
                    @if (grant.Expires.HasValue)
                    {
                        <div>
                            <span>Fecha de expiración: @grant.Expires.Value.ToString("yyyy-MM-dd")</span>
                        </div>
                    }
                    @if (grant.IdentityGrantNames.Any())
                    {
                        <div>Identidad del usuario: </div>
                        <div class="lista">
                            <ul>
                                @foreach (var name in grant.IdentityGrantNames)
                                {
                                    <li>@name</li>
                                }
                            </ul>
                        </div>
                    }
                    @if (grant.ApiGrantNames.Any())
                    {
                        <div class="lista">
                            <div>Permisos de API</div>
                            <ul>
                                @foreach (var name in grant.ApiGrantNames)
                                {
                                    <li>@name</li>
                                }
                            </ul>
                        </div>
                    }
                </div>
                <div class="col-sm-2">
                    <form asp-action="Revoke">
                        <input type="hidden" name="clientId" value="@grant.ClientId">
                        <button class="btn btn-danger">Remover los permisos</button>
                    </form>
                </div>
            </div>
        }
    }
</div>